@import "./resets.scss";
@import "./variables.scss";
@import "./mixins.scss";

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    background-color: #02066F;
        
}
.titles {
    width: 600px;
    height: 80px;
    margin: auto;
    background-color: #FF073A;

    #titulo {
        margin-top: 30px;
        color: $text-color;
        text-align: center;
        
    }
    
    #subtitulo {
        color: $text-color;
        text-align: center;
    }
}

form {
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    //border-radius: 8px;
    background-color: #00022E;
    ;

    input{
        @include elements-style;
    } 
    select{
        @include elements-style;
    } 
    textarea{
        @include elements-style;
    } 
    /*button {
        @include elements-style;
    }*/

    fieldset {
        margin-left: 13%;
        border: none;
        justify-content: center;
        margin-bottom: 20px;
        
        
        .campo {
            display: inline-block;
            margin-right: 1em;
            
            label {
                margin-bottom: 0.2em;
                color: $text-color;
                display: block;
                margin-top: 20px;
            } 
            input {
                width: 220px;
                height: 30px;
                border-radius: 5px;
                border: none;
                color: gray;
                padding-left: 10px;
                font-size: 0.8em;
                //box-shadow:  2px 2px rgba(0,0,0,0.2);

            }
            
        
        }
        
        .grupo2 {
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            color: $text-color;
        }
        .grupo3 {
            color: $text-color;
            &label{
                display: block;
                margin-bottom: 6px;
            }
            &select {
                width: 100px;
                height: 25px;
                border-radius: 5px;
                border: none;
                //box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            }
        }
        .grupo4 {
            margin: 20px 0px;
            color: $text-color;
            
            .grupo4-title {
                display: block;
                margin-bottom: 15px;
                
            }
        }
        .grupo5 {
            display: flex;
            flex-direction: column;
            color: $text-color;
            
            label {
                margin-bottom: 15px;
            }
            textarea {
                border-radius: 5px;
                border: none;
                //box-shadow:  2px 2px rgba(0,0,0,0.2);
            }
        }
        
    }
    .btn {
        margin-left: 45%;
        margin-bottom: 30px;
        padding: 10px 10px;
        background-color: #FF073A;
        border: none;
        color: #FFFFFF;
        border-radius: 5px;
        //box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
        &:hover {
        background-color: #02066F;
        //box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
            
        }
    }
}